.first-column {
  max-width: 600px;
  margin: auto;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .first-column {
    padding: 0 15px;
  }
}
